
<main class="main">
<mat-toolbar>
  <div *ngFor="let page of pages;let i= index" class="navbar-header">
    <button mat-button routerLink="{{pages[i].toLowerCase()}}" routerLinkActive="active" ariaCurrentWhenActive="page" >{{page}}</button>
  </div>

  <span class="spacer"></span>
  <button mat-button routerLink="profile"> <mat-icon fontIcon="person"></mat-icon> {{ user.firstName }} {{ user.lastName }}</button>
  <button mat-flat-button color="warn" routerLink=".">Logout</button>
</mat-toolbar>
<router-outlet></router-outlet>

  <div class="content">
  </div>
</main>
